assets/a2p.DataAssets/XMLSchemas/PrefHardware.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hw="http://www.preference.com/XMLSchemas/2006/Hardware" targetNamespace="http://www.preference.com/XMLSchemas/2006/Hardware" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:element name="PrefHardware">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="FittingGroups">
					<xsd:annotation>
						<xsd:documentation>Definition of all the fitting groups used in this document</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="FittingGroup">
								<xsd:annotation>
									<xsd:documentation>Fitting group definition</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="id" type="xsd:positiveInteger" use="required">
										<xsd:annotation>
											<xsd:documentation>Numeric identifier of the fitting group</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="class" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation>Class name of the fitting group</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Fittings">
					<xsd:annotation>
						<xsd:documentation>Definition of all the fitting materials. This fittings will be used later for define the fitting sets.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="Fitting">
								<xsd:annotation>
									<xsd:documentation>Definition of a fitting material</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:choice minOccurs="0">
										<xsd:element name="Generation">
											<xsd:annotation>
												<xsd:documentation>Defines rules for material and operation generation</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:choice minOccurs="0" maxOccurs="2">
													<xsd:element name="Articles" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Other materials generated by the current fitting</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:choice maxOccurs="unbounded">
																<xsd:element name="Article">
																	<xsd:annotation>
																		<xsd:documentation>Generated material</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
																			<xsd:element name="Option">
																				<xsd:complexType>
																					<xsd:attribute name="Name" type="xsd:string" use="required"/>
																					<xsd:attribute name="Value" type="xsd:string" use="required"/>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																		<xsd:attribute name="ref" type="xsd:string" use="required">
																			<xsd:annotation>
																				<xsd:documentation>Material reference</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																		<xsd:attribute name="x" type="xsd:string" use="optional">
																			<xsd:annotation>
																				<xsd:documentation>Position where the material is generated</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																		<xsd:attribute name="side" use="optional" default="main">
																			<xsd:annotation>
																				<xsd:documentation>Determines if the material is generated on the main or on the secondary side of the current fitting</xsd:documentation>
																			</xsd:annotation>
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="main"/>
																					<xsd:enumeration value="secondary"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="referencePoint" use="optional" default="start">
																			<xsd:annotation>
																				<xsd:documentation>Determines the point from which this piece is positioned</xsd:documentation>
																			</xsd:annotation>
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="start">
																						<xsd:annotation>
																							<xsd:documentation>start point of current piece</xsd:documentation>
																						</xsd:annotation>
																					</xsd:enumeration>
																					<xsd:enumeration value="end">
																						<xsd:annotation>
																							<xsd:documentation>end point of current piece</xsd:documentation>
																						</xsd:annotation>
																					</xsd:enumeration>
																					<xsd:enumeration value="middle">
																						<xsd:annotation>
																							<xsd:documentation>Reference Point is the middle position</xsd:documentation>
																						</xsd:annotation>
																					</xsd:enumeration>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="minWidth" type="xsd:nonNegativeInteger" use="optional">
																			<xsd:annotation>
																				<xsd:documentation>Minimal width of the fitting hole for which this Generation is used.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																		<xsd:attribute name="maxWidth" type="xsd:nonNegativeInteger" use="optional">
																			<xsd:annotation>
																				<xsd:documentation>Maximum width of the fitting hole for which this Generation is used.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																		<xsd:attribute name="minHeight" type="xsd:nonNegativeInteger" use="optional">
																			<xsd:annotation>
																				<xsd:documentation>Minimal height  of the fitting hole for which this Generation is used.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																		<xsd:attribute name="maxHeight" type="xsd:nonNegativeInteger" use="optional">
																			<xsd:annotation>
																				<xsd:documentation>Maximum height of the fitting hole for which this Generation is used.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																		<xsd:attribute name="internalGuid" type="xsd:token"/>
																		<xsd:attribute name="articleReferencePoint" use="optional" default="start">
																			<xsd:annotation>
																				<xsd:documentation>Determines the reference point of the generated article to which the 'x' attributte refers</xsd:documentation>
																			</xsd:annotation>
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="start">
																						<xsd:annotation>
																							<xsd:documentation>start point of generated article</xsd:documentation>
																						</xsd:annotation>
																					</xsd:enumeration>
																					<xsd:enumeration value="end">
																						<xsd:annotation>
																							<xsd:documentation>end point of generated article</xsd:documentation>
																						</xsd:annotation>
																					</xsd:enumeration>
																					<xsd:enumeration value="middle">
																						<xsd:annotation>
																							<xsd:documentation>Reference Point is the middle position of the generated article</xsd:documentation>
																						</xsd:annotation>
																					</xsd:enumeration>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="location" use="optional">
																			<xsd:annotation>
																				<xsd:documentation>Determines the place in which the article is generated</xsd:documentation>
																			</xsd:annotation>
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="frame"/>
																					<xsd:enumeration value="sash"/>
																					<xsd:enumeration value="both"/>
																					<xsd:enumeration value="free"/>
																					<xsd:enumeration value="inherited"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																	</xsd:complexType>
																	<xsd:unique name="keyrefAOptionUnique">
																		<xsd:selector xpath="hw:Option"/>
																		<xsd:field xpath="@Name"/>
																	</xsd:unique>
																</xsd:element>
															</xsd:choice>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Operations" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Operations generated byt thie current fitting</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:choice maxOccurs="unbounded">
																<xsd:element name="Operation">
																	<xsd:annotation>
																		<xsd:documentation>Generated operation</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
																			<xsd:element name="Option">
																				<xsd:complexType>
																					<xsd:attribute name="Name" type="xsd:string" use="required"/>
																					<xsd:attribute name="Value" type="xsd:string" use="required"/>
																				</xsd:complexType>
																				<xsd:unique name="keyrefOOptionUnique">
																					<xsd:selector xpath="hw:Option"/>
																					<xsd:field xpath="@Name"/>
																				</xsd:unique>
																			</xsd:element>
																		</xsd:sequence>
																		<xsd:attribute name="name" type="xsd:string" use="required">
																			<xsd:annotation>
																				<xsd:documentation>Name of the operation</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																		<xsd:attribute name="location" use="optional" default="sash">
																			<xsd:annotation>
																				<xsd:documentation>Determines if this operation is done on a frame or a sash material</xsd:documentation>
																			</xsd:annotation>
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="frame"/>
																					<xsd:enumeration value="sash"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="x" type="xsd:string" use="optional">
																			<xsd:annotation>
																				<xsd:documentation>Position where the operation is generated</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																		<xsd:attribute name="side" use="optional" default="main">
																			<xsd:annotation>
																				<xsd:documentation>Determines if the operation is generated on the main or on the secondary side of the current fitting</xsd:documentation>
																			</xsd:annotation>
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="main"/>
																					<xsd:enumeration value="secondary"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="referencePoint" use="optional" default="start">
																			<xsd:annotation>
																				<xsd:documentation>Determines the point from which this operation is positioned</xsd:documentation>
																			</xsd:annotation>
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="start">
																						<xsd:annotation>
																							<xsd:documentation>start point of current piece</xsd:documentation>
																						</xsd:annotation>
																					</xsd:enumeration>
																					<xsd:enumeration value="end">
																						<xsd:annotation>
																							<xsd:documentation>end point of current piece</xsd:documentation>
																						</xsd:annotation>
																					</xsd:enumeration>
																					<xsd:enumeration value="middle">
																						<xsd:annotation>
																							<xsd:documentation>Reference Point is the middle position</xsd:documentation>
																						</xsd:annotation>
																					</xsd:enumeration>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="internalGuid" type="xsd:token"/>
																	</xsd:complexType>
																</xsd:element>
															</xsd:choice>
														</xsd:complexType>
													</xsd:element>
												</xsd:choice>
											</xsd:complexType>
										</xsd:element>
									</xsd:choice>
									<xsd:attribute name="id" type="xsd:positiveInteger" use="required">
										<xsd:annotation>
											<xsd:documentation>Numeric identifier of the fitting within this document</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="ref" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation>Article or material reference</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="fittingGroupId" type="xsd:positiveInteger" use="required">
										<xsd:annotation>
											<xsd:documentation>Fitting group which this material pertains to</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="location" use="required">
										<xsd:annotation>
											<xsd:documentation>Determines if this is a frame or a sash material</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="frame"/>
												<xsd:enumeration value="sash"/>
												<xsd:enumeration value="both"/>
												<xsd:enumeration value="free"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="fittingType" use="optional" default="drive">
										<xsd:annotation>
											<xsd:documentation>Type of fitting that will be displayed in a graphical representation</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="drive"/>
												<xsd:enumeration value="corner"/>
												<xsd:enumeration value="mushroom"/>
												<xsd:enumeration value="handledrive"/>
												<xsd:enumeration value="simplelock"/>
												<xsd:enumeration value="tiltlock"/>
												<xsd:enumeration value="sashhinge"/>
												<xsd:enumeration value="framehinge"/>
												<xsd:enumeration value="handle"/>
												<xsd:enumeration value="shear"/>
												<xsd:enumeration value="shearextender"/>
												<xsd:enumeration value="screw"/>
												<xsd:enumeration value="securitylock">
													<xsd:annotation>
														<xsd:documentation>For security striker plates</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="keyhole">
													<xsd:annotation>
														<xsd:documentation>Fitting piece that fits in the keyhole</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="other"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="manufacturer" type="xsd:string" use="optional"/>
									<xsd:attribute name="system" type="xsd:string" use="optional"/>
									<xsd:attribute name="handUseable" use="optional" default="independent">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="left"/>
												<xsd:enumeration value="right"/>
												<xsd:enumeration value="independent"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="complementaryHandFitting" type="xsd:positiveInteger">
										<xsd:annotation>
											<xsd:documentation>Reference to the part used for the opposite opening side</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="length" type="xsd:double" use="optional">
										<xsd:annotation>
											<xsd:documentation>Length of the fitting. For fittings with main and secondary parts, this is the length of the main part.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="secondaryLength" type="xsd:double" use="optional">
										<xsd:annotation>
											<xsd:documentation>For fittings with main and senondary part, this is the length of the secondary.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="backset" type="xsd:double" use="optional">
										<xsd:annotation>
											<xsd:documentation>Backset distance for this material</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="handlePositionType" use="optional" default="fix">
										<xsd:annotation>
											<xsd:documentation>Determines if this materials is for fix or variable handle position.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="fix"/>
												<xsd:enumeration value="variable"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="handlePosition" type="xsd:double" use="optional">
										<xsd:annotation>
											<xsd:documentation>Distance to the handle position</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="price" type="xsd:double" use="optional">
										<xsd:annotation>
											<xsd:documentation>Price of the material</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="Description" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Description of the piece</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="CanBeMountedBeforeWelding" type="xsd:boolean">
										<xsd:annotation>
											<xsd:documentation>Specifies if this piece can be mounted in the profile before the welding</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="StartCuttable" type="xsd:boolean" use="optional">
										<xsd:annotation>
											<xsd:documentation>Indicates if the piece can be cut at the start side</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="EndCuttable" type="xsd:boolean" use="optional">
										<xsd:annotation>
											<xsd:documentation>Indicates if the piece can be cut at the end side</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="StartCutMaxLength" type="xsd:double" use="optional">
										<xsd:annotation>
											<xsd:documentation>Maximum length of the piece that can be cut at the start side</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="EndCutMaxLength" type="xsd:double" use="optional">
										<xsd:annotation>
											<xsd:documentation>Maximum length of the piece that can be cut at the end side</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Sets">
					<xsd:annotation>
						<xsd:documentation>Definition of the fitting sets</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="Set">
								<xsd:annotation>
									<xsd:documentation>Definition of a fitting set. Each set is defined for a specific opening type. This opening type is defined in the child Opening node. The set has a collection of SetDescriptionNodes. Each one of this node refers to a fitting material included in the set.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Opening">
											<xsd:annotation>
												<xsd:documentation>Determines for which type of opening is defined the current set</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="active" type="xsd:boolean" use="optional" default="false"/>
												<xsd:attribute name="tilt" type="xsd:boolean" use="optional" default="false"/>
												<xsd:attribute name="turn" type="xsd:boolean" use="optional" default="false"/>
												<xsd:attribute name="swinging" type="xsd:boolean" use="optional" default="false"/>
												<xsd:attribute name="sliding" type="xsd:boolean" use="optional" default="false"/>
												<xsd:attribute name="lift" type="xsd:boolean" use="optional" default="false"/>
												<xsd:attribute name="outer" type="xsd:boolean" use="optional" default="false"/>
												<xsd:attribute name="left" type="xsd:boolean" use="optional" default="false"/>
												<xsd:attribute name="right" type="xsd:boolean" use="optional" default="false"/>
												<xsd:attribute name="top" type="xsd:boolean" use="optional" default="false"/>
												<xsd:attribute name="bottom" type="xsd:boolean" use="optional" default="false"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SetDescription" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Each of the fittings used in the set.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence minOccurs="0" maxOccurs="unbounded">
													<xsd:element name="Option">
														<xsd:complexType>
															<xsd:attribute name="Name" type="xsd:string" use="required"/>
															<xsd:attribute name="Value" type="xsd:string" use="required"/>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="id" type="xsd:nonNegativeInteger" use="optional" default="0">
													<xsd:annotation>
														<xsd:documentation>Reference to a fitting id declared in the hw:Fittings section of this document</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="fittingId" type="xsd:positiveInteger">
													<xsd:annotation>
														<xsd:documentation>Reference to a fitting id declared in the hw:Fittings section of this document</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="fittingRef" type="xsd:string">
													<xsd:annotation>
														<xsd:documentation>Reference to a fitting id declared in the hw:Fittings section of this document</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="minWidth" type="xsd:nonNegativeInteger" use="optional">
													<xsd:annotation>
														<xsd:documentation>Minimal width of the fitting hole for which this SetDescription is used.</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="maxWidth" type="xsd:nonNegativeInteger" use="optional">
													<xsd:annotation>
														<xsd:documentation>Maximum width of the fitting hole for which this SetDescription is used.</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="minHeight" type="xsd:nonNegativeInteger" use="optional">
													<xsd:annotation>
														<xsd:documentation>Minimal height  of the fitting hole for which this SetDescription is used.</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="maxHeight" type="xsd:nonNegativeInteger" use="optional">
													<xsd:annotation>
														<xsd:documentation>Maximum height of the fitting hole for which this SetDescription is used.</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="horizontal" type="xsd:boolean" use="optional">
													<xsd:annotation>
														<xsd:documentation>Determines the direction of the fitting piece</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="position" type="xsd:nonNegativeInteger" use="required">
													<xsd:annotation>
														<xsd:documentation>Determines the position of the piece in the fitting hole. Its value can be compelemented with the referenceCorner attribute</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="referencePoint" use="optional" default="start">
													<xsd:annotation>
														<xsd:documentation>Determines the corner from which this piece is positioned</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:enumeration value="start">
																<xsd:annotation>
																	<xsd:documentation>start corner of current piece</xsd:documentation>
																</xsd:annotation>
															</xsd:enumeration>
															<xsd:enumeration value="end">
																<xsd:annotation>
																	<xsd:documentation>end corner of current piece</xsd:documentation>
																</xsd:annotation>
															</xsd:enumeration>
															<xsd:enumeration value="handle">
																<xsd:annotation>
																	<xsd:documentation>Reference Point is the handle position</xsd:documentation>
																</xsd:annotation>
															</xsd:enumeration>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
												<xsd:attribute name="chainPosition" type="xsd:nonNegativeInteger" use="required">
													<xsd:annotation>
														<xsd:documentation>Position order</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="movement" use="optional" default="direct">
													<xsd:annotation>
														<xsd:documentation>Determines if the movement of this piece is direct or indirect</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:enumeration value="direct"/>
															<xsd:enumeration value="indirect"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
												<xsd:attribute name="x" type="xsd:string" use="optional">
													<xsd:annotation>
														<xsd:documentation>Position where the material is generated. Not for fittings with location="sash"</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="inverted" type="xsd:boolean" use="optional" default="false">
													<xsd:annotation>
														<xsd:documentation>Determines if the piece is placed against the hardware movement</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="location" use="optional">
													<xsd:annotation>
														<xsd:documentation>Determines the place in which the article is generated</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:enumeration value="frame"/>
															<xsd:enumeration value="sash"/>
															<xsd:enumeration value="both"/>
															<xsd:enumeration value="free"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
												<xsd:attribute name="minHandleHeight" type="xsd:double" use="optional">
													<xsd:annotation>
														<xsd:documentation>Minimum Handle Height for which the piece is generated (used in variable handle)</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="maxHandleHeight" type="xsd:double" use="optional">
													<xsd:annotation>
														<xsd:documentation>Maximum Handle Height for which the piece is generated (used in variable handle)</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="alternative" type="xsd:positiveInteger" use="optional">
													<xsd:annotation>
														<xsd:documentation>Value indicating that the set description is part of a list of alternatives. The user will select one of them. The piece will be generated if its alternative matches the user selection</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="defaultHandle" type="xsd:boolean">
													<xsd:annotation>
														<xsd:documentation>Whenapplied to a SetDescription which representas a handle, indicates that the handle is the preferred one. Otherwise, is ignored</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
											<xsd:unique name="keyrefSDOptionUnique">
												<xsd:selector xpath="hw:Option"/>
												<xsd:field xpath="@Name"/>
											</xsd:unique>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:positiveInteger" use="required">
										<xsd:annotation>
											<xsd:documentation>Numeric identifier of the set within this document</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="code" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation>Code used to identify the set</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="sashStopSide" type="xsd:nonNegativeInteger" use="optional"/>
									<xsd:attribute name="movement" use="required">
										<xsd:annotation>
											<xsd:documentation>Hardware movement sense (clockwise /counterclockwise)</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="clockwise"/>
												<xsd:enumeration value="counterclockwise"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="associated">
										<xsd:annotation>
											<xsd:documentation>Associated Opening of neighbour sash</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="none"/>
												<xsd:enumeration value="turn"/>
												<xsd:enumeration value="tiltandturn"/>
												<xsd:enumeration value="slide"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="minWidth" type="xsd:nonNegativeInteger" use="optional">
										<xsd:annotation>
											<xsd:documentation>Minimal width of the fitting hole for which this Set is used.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="maxWidth" type="xsd:nonNegativeInteger" use="optional">
										<xsd:annotation>
											<xsd:documentation>Maximum width of the fitting hole for which this Set is used.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="minHeight" type="xsd:nonNegativeInteger" use="optional">
										<xsd:annotation>
											<xsd:documentation>Minimal height  of the fitting hole for which this Set is used.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="maxHeight" type="xsd:nonNegativeInteger" use="optional">
										<xsd:annotation>
											<xsd:documentation>Maximum height of the fitting hole for which this Set is used.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ColourMaps" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="Colour">
								<xsd:complexType>
									<xsd:choice maxOccurs="unbounded">
										<xsd:element name="Article">
											<xsd:complexType>
												<xsd:attribute name="ref" type="xsd:string" use="required"/>
												<xsd:attribute name="final" type="xsd:string" use="required"/>
												<xsd:attribute name="price" type="xsd:double" use="optional">
													<xsd:annotation>
														<xsd:documentation>Price of the material</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="Description" type="xsd:string">
													<xsd:annotation>
														<xsd:documentation>Description of the piece</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
									</xsd:choice>
									<xsd:attribute name="name" type="xsd:string" use="required"/>
									<xsd:attribute name="red" type="xsd:nonNegativeInteger">
										<xsd:annotation>
											<xsd:documentation>Value of Red component (0-255)</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="green" type="xsd:nonNegativeInteger">
										<xsd:annotation>
											<xsd:documentation>Value of Green component (0-255)</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="blue" type="xsd:nonNegativeInteger">
										<xsd:annotation>
											<xsd:documentation>Value of Blue component (0-255)</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
								<xsd:unique name="uniqueBaseReference">
									<xsd:selector xpath="hw:Article"/>
									<xsd:field xpath="@ref"/>
								</xsd:unique>
							</xsd:element>
						</xsd:choice>
					</xsd:complexType>
					<xsd:unique name="uniqueFinalReference">
						<xsd:selector xpath="hw:Colour/hw:Article"/>
						<xsd:field xpath="@final"/>
					</xsd:unique>
				</xsd:element>
				<xsd:element name="Options" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="Option">
								<xsd:complexType>
									<xsd:sequence maxOccurs="unbounded">
										<xsd:element name="Value">
											<xsd:complexType>
												<xsd:attribute name="Value" type="xsd:string" use="required"/>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Name" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
			<xsd:attribute name="supplier" use="required" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of the provider that submits the hardware schema. This will be a namespace to avoid name conflicts. If you as a provider don't appear in this list contact Preference.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="targetTariff" type="xsd:string" use="optional"/>
		</xsd:complexType>
		<xsd:key name="keyFittingGroup">
			<xsd:selector xpath="hw:FittingGroups/hw:FittingGroup"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<xsd:unique name="uniqueFittingGroupClass">
			<xsd:selector xpath="hw:FittingGroups/hw:FittingGroup"/>
			<xsd:field xpath="@class"/>
		</xsd:unique>
		<xsd:key name="keyFitting">
			<xsd:selector xpath="hw:Fittings/hw:Fitting"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<xsd:key name="keyFittingRef">
			<xsd:selector xpath="hw:Fittings/hw:Fitting"/>
			<xsd:field xpath="@ref"/>
		</xsd:key>
		<xsd:key name="keySet">
			<xsd:selector xpath="hw:Sets/hw:Set"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<xsd:key name="keyColourMap">
			<xsd:selector xpath="hw:ColourMaps/hw:Colour"/>
			<xsd:field xpath="@name"/>
		</xsd:key>
		<xsd:keyref name="keyrefFittingGroup" refer="hw:keyFittingGroup">
			<xsd:selector xpath="hw:Fittings/hw:Fitting"/>
			<xsd:field xpath="@fittingGroupId"/>
		</xsd:keyref>
		<xsd:keyref name="keyrefSetDescription" refer="hw:keyFitting">
			<xsd:selector xpath="hw:Sets/hw:Set/hw:SetDescription"/>
			<xsd:field xpath="@fittingId"/>
		</xsd:keyref>
		<xsd:key name="keyOption">
			<xsd:selector xpath="hw:Options/hw:Option"/>
			<xsd:field xpath="@Name"/>
		</xsd:key>
		<xsd:keyref name="keyrefOption" refer="hw:keyOption">
			<xsd:selector xpath="hw:Sets/hw:Set/hw:SetDescription/hw:Option"/>
			<xsd:field xpath="@Name"/>
		</xsd:keyref>
		<xsd:keyref name="keyrefOption2" refer="hw:keyOption">
			<xsd:selector xpath="hw:Fittings/hw:Fitting/hw:Generation/*/*/hw:Option"/>
			<xsd:field xpath="@Name"/>
		</xsd:keyref>
		<xsd:keyref name="keyrefArticle" refer="hw:keyFittingRef">
			<xsd:selector xpath="hw:Fittings/hw:Fitting/hw:Generation/hw:Articles/hw:Article"/>
			<xsd:field xpath="@ref"/>
		</xsd:keyref>
		<xsd:keyref name="keyrefComplementaryHandFitting" refer="hw:keyFitting">
			<xsd:selector xpath="hw:Fittings/hw:Fitting"/>
			<xsd:field xpath="@complementaryHandFitting"/>
		</xsd:keyref>
		<xsd:keyref name="keyrefSetDescriptionRef" refer="hw:keyFittingRef">
			<xsd:selector xpath="hw:Sets/hw:Set/hw:SetDescription"/>
			<xsd:field xpath="@fittingRef"/>
		</xsd:keyref>
		<xsd:keyref name="keyrefFittingRef" refer="hw:keyFittingRef">
			<xsd:selector xpath="hw:ColourMaps/hw:Colour/hw:Article"/>
			<xsd:field xpath="@ref"/>
		</xsd:keyref>
	</xsd:element>
</xsd:schema>
