assets/a2p.DataAssets/XMLSchemas/PrefCommand.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmd="PrefCommand" targetNamespace="PrefCommand" elementFormDefault="qualified">
	<xsd:element name="batch" type="cmd:typeBatch"/>
	<xsd:element name="backup" type="cmd:typeBackup"/>
	<xsd:simpleType name="typeNonEmptyString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumUnitsMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="metric"/>
			<xsd:enumeration value="imperialdecimal"/>
			<xsd:enumeration value="imperialfraction"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="typeBatch">
		<xsd:sequence>
			<xsd:element name="declaration" type="cmd:typeBatchDeclaration" minOccurs="0"/>
			<xsd:element name="defaultProperties" type="cmd:typedefaultProperties" minOccurs="0"/>
			<xsd:element name="commands" type="cmd:typeCommandList"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeBatchDeclaration">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="param">
				<xsd:complexType>
					<xsd:attribute name="name" use="required"/>
					<xsd:attribute name="defaultValue" use="optional"/>
					<xsd:attribute name="description" use="optional"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="typedefaultProperties">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="prefUserDll" type="cmd:typePrefUserDll" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeCommandList">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="backup" type="cmd:typeBackup"/>
			<xsd:element name="restore" type="cmd:typeRestore"/>
			<xsd:element name="message" type="cmd:typeMessage"/>
			<xsd:element name="call" type="cmd:typeCall"/>
			<xsd:element name="callFunction" type="cmd:typeCallFunction"/>
			<xsd:element name="updateDBStructure" type="cmd:typeDBManager"/>
			<xsd:element name="executeSQLScript" type="cmd:typeExecuteSQLScript"/>
			<xsd:element name="newSalesDoc" type="cmd:typeNewSalesDoc"/>
			<xsd:element name="updateSalesDoc" type="cmd:typeUpdateSalesDoc"/>
			<xsd:element name="calculateSalesDoc" type="cmd:typeCalculateSalesDoc"/>
			<xsd:element name="executeSalesDocCommands" type="cmd:typeExecuteSalesDocCommands"/>
			<xsd:element name="manageDocumentsXml" type="cmd:typeManageDocumentsXml"/>
			<xsd:element name="newProductionLot" type="cmd:typeNewProductionLot"/>
			<xsd:element name="calculateProductionLot" type="cmd:typeCalculateProductionLot"/>
			<xsd:element name="calculateProductionLotProtocols" type="cmd:typeCalculateProductionLotProtocols"/>
			<xsd:element name="getUsedRodsInProductionLots" type="cmd:typeGetUsedRodsInProductionLots"/>
			<xsd:element name="getXML" type="cmd:typeGetXML"/>
			<xsd:element name="getDescriptiveXMLFromSalesDocItem" type="cmd:typeGetDescriptiveXMLFromSalesDocItem"/>
			<xsd:element name="getDescriptiveXMLsFromSalesDoc" type="cmd:typeGetDescriptiveXMLsFromSalesDoc"/>
			<xsd:element name="getSerializationXMLFromSalesDocItem" type="cmd:typeGetSerializationXMLFromSalesDocItem"/>
			<xsd:element name="getSerializationXMLsFromSalesDoc" type="cmd:typeGetSerializationXMLsFromSalesDoc"/>
			<xsd:element name="setSerializationXMLToSalesDocItem" type="cmd:typeSetSerializationXMLToSalesDocItem"/>
			<xsd:element name="setSerializationXMLsToSalesDoc" type="cmd:typeSetSerializationXMLsToSalesDoc"/>
			<xsd:element name="getSalesDocXML" type="cmd:typeGetSalesDocXML"/>
			<xsd:element name="transformXML" type="cmd:typeTransformXML"/>
			<xsd:element name="newMaterialNeeds" type="cmd:typeCreateMaterialNeeds"/>
			<xsd:element name="deleteMaterialNeeds" type="cmd:typeDeleteMaterialNeeds"/>
			<xsd:element name="consolidateMaterialNeedPrices" type="cmd:typeConsolidateMaterialNeedPrices"/>
			<xsd:element name="createPurchaseOrdersFromMaterialNeeds" type="cmd:typeCreatePurchaseOrdersFromMaterialNeeds"/>
			<xsd:element name="printReport" type="cmd:typePrintReport"/>
			<xsd:element name="fillPrefDocumentsTables" type="cmd:typeFillPrefDocumentsTables"/>
			<xsd:element name="unzipSalesDocItem" type="cmd:typeUnzipSalesDocItem"/>
		</xsd:choice>
		<xsd:attribute name="correlationId" type="xsd:string" use="optional"></xsd:attribute>
		<xsd:attribute name="requestId" type="xsd:string" use="optional"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="typeConnection">
		<xsd:attribute name="server" type="cmd:typeNonEmptyString" use="optional"/>
		<xsd:attribute name="database" type="cmd:typeNonEmptyString" use="optional"/>
		<xsd:attribute name="user" type="xsd:string" use="optional"/>
		<xsd:attribute name="password" type="xsd:string" use="optional"/>
		<xsd:attribute name="trustedConnection" type="xsd:boolean" use="optional" default="true"/>
		<xsd:attribute name="connectionString" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="typeFile">
		<xsd:attribute name="name" type="cmd:typeNonEmptyString" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeDirectory">
		<xsd:attribute name="path" type="cmd:typeNonEmptyString" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeSalesDocNamingConvention">
		<xsd:attribute name="value" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="reference"/>
					<xsd:enumeration value="id"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="typeReference">
		<xsd:attribute name="value" type="cmd:typeNonEmptyString" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeProductionLotNumber">
		<xsd:attribute name="value" type="xsd:integer" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeSalesDocId">
		<xsd:attribute name="number" type="xsd:integer"/>
		<xsd:attribute name="version" type="xsd:integer"/>
		<xsd:attribute name="reference" type="cmd:typeNonEmptyString"/>
	</xsd:complexType>
	<xsd:complexType name="typeSalesDocItemId">
		<xsd:attribute name="sortOrder" type="xsd:integer"/>
		<xsd:attribute name="nomenclature" type="cmd:typeNonEmptyString"/>
	</xsd:complexType>
	<xsd:complexType name="typeSalesDocItemIdPos">
		<xsd:attribute name="idPos" type="cmd:typeNonEmptyString" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeSelect">
		<xsd:attribute name="value" type="cmd:typeNonEmptyString" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeDate">
		<xsd:attribute name="value" type="xsd:date" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeUser">
		<xsd:attribute name="code" type="xsd:integer" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeSQL">
		<xsd:attribute name="value" type="cmd:typeNonEmptyString" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typePrefUserDll">
		<xsd:attribute name="name" type="cmd:typeNonEmptyString" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeBackup">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="content" type="cmd:typeBackupContent"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="typeBackupContent">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="file" type="cmd:typeFile" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="table" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="schema" type="cmd:typeNonEmptyString" use="optional"/>
						<xsd:attribute name="name" type="cmd:typeNonEmptyString" use="required"/>
						<xsd:attribute name="filter" type="cmd:typeNonEmptyString" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="script" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="file" type="cmd:typeNonEmptyString" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="dataVersion" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:choice>
							<xsd:element name="exclude" minOccurs="0">
								<xsd:complexType>
									<xsd:choice>
										<xsd:element name="excludeTable" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:attribute name="name" type="cmd:typeNonEmptyString" use="required"/>
											</xsd:complexType>
										</xsd:element>
									</xsd:choice>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
						<xsd:attribute name="name" type="cmd:typeNonEmptyString" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="includeBackupDefinition" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="file" type="cmd:typeNonEmptyString" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="databaseSystem" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="name" type="cmd:typeNonEmptyString" use="required"/>
						<xsd:attribute name="filter" type="cmd:typeNonEmptyString" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeExcludeFields">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="excludeField" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="table" type="cmd:typeNonEmptyString" use="required"/>
					<xsd:attribute name="field" type="cmd:typeNonEmptyString" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeRestore">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="file" type="cmd:typeFile" minOccurs="0"/>
			<xsd:element name="dataVersion" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="preserve" minOccurs="0">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="preserveTable" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:attribute name="name" type="cmd:typeNonEmptyString" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="databaseSystem" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="excludeFields" type="cmd:typeExcludeFields" minOccurs="0"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeDBManager">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="runCodeValidation" type="xsd:boolean"/>
	</xsd:complexType>
	<xsd:complexType name="typeExecuteSQLScript">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="file" type="cmd:typeFile" minOccurs="0"/>
			<xsd:element name="sql" type="cmd:typeSQL" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeMessage">
		<xsd:attribute name="text" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="typeCall">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="param">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="name" type="cmd:typeNonEmptyString" use="required"/>
							<xsd:attribute name="value" type="cmd:typeNonEmptyString" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="file" type="cmd:typeNonEmptyString" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeCallFunction">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="param">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="name" type="cmd:typeNonEmptyString" use="required"/>
							<xsd:attribute name="value" type="cmd:typeNonEmptyString" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="module" type="cmd:typeNonEmptyString" use="required"/>
		<xsd:attribute name="function" type="cmd:typeNonEmptyString" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeNewSalesDoc">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="numeration">
				<xsd:complexType>
					<xsd:attribute name="id" type="xsd:integer" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="user">
				<xsd:complexType>
					<xsd:attribute name="code" type="xsd:integer" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="file" type="cmd:typeFile"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeUpdateSalesDoc">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="file" type="cmd:typeFile"/>
				<xsd:any namespace="http://www.preference.com/XMLSchemas/2006/PrefSales.UpdateSalesDoc" processContents="lax"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeCalculateSalesDoc">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="salesDoc" type="cmd:typeSalesDocId"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="typePrefItemsFactory">
		<xsd:attribute name="useRemoteFactory" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeGlobalConnection">
		<xsd:attribute name="manage" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeStartTransaction">
		<xsd:attribute name="start" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeUnitsMode">
		<xsd:attribute name="mode" type="cmd:enumUnitsMode" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="typeExecuteSalesDocCommands">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="commandsFile" type="cmd:typeFile"/>
				<xsd:element name="commandContent" type="cmd:typeCommandContent"/>
			</xsd:choice>
			<xsd:element name="resultsFile" type="cmd:typeFile" minOccurs="0"/>
			<xsd:element name="PrefItemsFactory" type="cmd:typePrefItemsFactory" minOccurs="0"/>
			<xsd:element name="manageGlobalConnection" type="cmd:typeGlobalConnection" minOccurs="0"/>
			<xsd:element name="startTransaction" type="cmd:typeStartTransaction" minOccurs="0"/>
			<xsd:element name="unitsMode" type="cmd:typeUnitsMode" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeCommandContent">
		<xsd:choice>
			<xsd:any processContents="lax"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="typeManageDocumentsXml">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="file" type="cmd:typeFile"/>
			<xsd:element name="user" type="cmd:typeUser"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeNewProductionLot">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="file" type="cmd:typeFile"/>
				<xsd:element name="lotDefinition" type="cmd:typeLotDefinition"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeLotDefinition">
		<xsd:choice>
			<xsd:any processContents="lax"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="typeCalculateProductionLot">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="productionLotNumber" type="cmd:typeProductionLotNumber"/>
				<xsd:element name="reference" type="cmd:typeReference"/>
			</xsd:choice>
			<xsd:element name="settings" type="cmd:typeCalculateProductionLotSettings"/>
			<xsd:element name="settingsWriteTables" type="cmd:typeWriteProdCAMTables" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeCalculateProductionLotSettings">
		<xsd:sequence>
			<xsd:any processContents="lax"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeWriteProdCAMTables">
		<xsd:sequence>
			<xsd:any processContents="lax"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeCalculateProductionLotProtocols">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="productionLotNumber" type="cmd:typeProductionLotNumber"/>
				<xsd:element name="reference" type="cmd:typeReference"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeGetUsedRodsInProductionLots">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="file" type="cmd:typeFile"/>
			<xsd:choice>
				<xsd:element name="reference" type="cmd:typeReference"/>
				<xsd:element name="date" type="cmd:typeDate"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeGetXML">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="sql" type="cmd:typeSelect"/>
			<xsd:element name="outputFile" type="cmd:typeFile"/>
			<xsd:element name="xsltFile" type="cmd:typeFile" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="type" use="optional" default="blob">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="blob"/>
					<xsd:enumeration value="xml"/>
					<xsd:enumeration value="text"/>
					<xsd:enumeration value="forxml"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="typeGetDescriptiveXMLFromSalesDocItem">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="salesDoc" type="cmd:typeSalesDocId"/>
			<xsd:element name="item" type="cmd:typeSalesDocItemId"/>
			<xsd:element name="outputFile" type="cmd:typeFile"/>
			<xsd:element name="xsltFile" type="cmd:typeFile" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeGetDescriptiveXMLsFromSalesDoc">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="salesDoc" type="cmd:typeSalesDocId"/>
			<xsd:element name="outputDirectory" type="cmd:typeDirectory"/>
			<xsd:element name="namingConvention" type="cmd:typeSalesDocNamingConvention" minOccurs="0"/>
			<xsd:element name="xsltFile" type="cmd:typeFile" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeGetSerializationXMLFromSalesDocItem">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="salesDoc" type="cmd:typeSalesDocId"/>
			<xsd:element name="item" type="cmd:typeSalesDocItemId"/>
			<xsd:element name="outputFile" type="cmd:typeFile"/>
			<xsd:element name="xsltFile" type="cmd:typeFile" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeGetSerializationXMLsFromSalesDoc">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="salesDoc" type="cmd:typeSalesDocId"/>
			<xsd:element name="outputDirectory" type="cmd:typeDirectory"/>
			<xsd:element name="xsltFile" type="cmd:typeFile" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeSetSerializationXMLToSalesDocItem">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="salesDoc" type="cmd:typeSalesDocId"/>
			<xsd:element name="item" type="cmd:typeSalesDocItemId"/>
			<xsd:element name="inputFile" type="cmd:typeFile"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeSetSerializationXMLsToSalesDoc">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="salesDoc" type="cmd:typeSalesDocId"/>
			<xsd:element name="inputDirectory" type="cmd:typeDirectory"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeGetSalesDocXML">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="salesDoc" type="cmd:typeSalesDocId"/>
			<xsd:element name="outputDirectory" type="cmd:typeDirectory"/>
			<xsd:element name="xsltFile" type="cmd:typeFile" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeTransformXML">
		<xsd:choice maxOccurs="unbounded">
			<xsd:sequence>
				<xsd:element name="inputFile" type="cmd:typeFile"/>
				<xsd:element name="outputFile" type="cmd:typeFile"/>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="inputDirectory" type="cmd:typeDirectory"/>
				<xsd:element name="outputDirectory" type="cmd:typeDirectory"/>
			</xsd:sequence>
			<xsd:element name="xsltFile" type="cmd:typeFile"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="typeCreateMaterialNeeds">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="resultsFile" type="cmd:typeFile" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="file" type="cmd:typeFile"/>
				<xsd:element name="materialNeedsDefinition" type="cmd:typeMaterialNeedsDefinition"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeDeleteMaterialNeeds">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="file" type="cmd:typeFile"/>
				<xsd:element name="materialNeedsDefinition" type="cmd:typeMaterialNeedsDefinition"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeConsolidateMaterialNeedPrices">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="file" type="cmd:typeFile"/>
				<xsd:element name="materialNeedsDefinition" type="cmd:typeMaterialNeedsDefinition"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeMaterialNeedsDefinition">
		<xsd:choice>
			<xsd:any processContents="lax"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="typeCreatePurchaseOrdersFromMaterialNeeds">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="resultsFile" type="cmd:typeFile" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="file" type="cmd:typeFile"/>
				<xsd:element name="purchaseOrderCreationFromMN" type="cmd:typePurchaseOrderCreationFromMN"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typePurchaseOrderCreationFromMN">
		<xsd:choice>
			<xsd:any processContents="lax"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="typeReportContent">
		<xsd:choice>
			<xsd:any processContents="lax"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="typePrintReport">
		<xsd:sequence>
			<xsd:element name="PrefItemsFactory" type="cmd:typePrefItemsFactory" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="inputFile" type="cmd:typeFile"/>
				<xsd:element name="reportContent" type="cmd:typeReportContent"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="usePrefOne" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="typeFillPrefDocumentsTables">
		<xsd:sequence>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
			<xsd:element name="PrefItemsFactory" type="cmd:typePrefItemsFactory" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="file" type="cmd:typeFile"/>
				<xsd:any namespace="http://www.preference.com/XMLSchemas/2008/PrefSales.FillPrefDocumentsTables" processContents="lax"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeUnzipSalesDocItem">
		<xsd:sequence>
			<xsd:element name="item" type="cmd:typeSalesDocItemIdPos"/>
			<xsd:element name="connection" type="cmd:typeConnection" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
