assets/a2p.DataAssets/XMLSchemas/PrefSales.SalesDocuments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ps="http://www.preference.com/XMLSchemas/2007/PrefSales.SalesDocuments" xmlns:cmd="http://www.preference.com/XMLSchemas/2006/PrefCAD.Command" targetNamespace="http://www.preference.com/XMLSchemas/2007/PrefSales.SalesDocuments" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.preference.com/XMLSchemas/2006/PrefCAD.Command" schemaLocation="http://www.preference.com/XMLSchemas/2006/PrefCAD.Command/PrefCAD.Command.xsd"/>
	<xs:annotation>
		<xs:documentation>
		*******************************************************************************************
		*******************************************************************************************
		*******************************************************************************************
		                                        Basic types
		*******************************************************************************************
		*******************************************************************************************
		*******************************************************************************************
		</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>****** Type GUID definition</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="typeGUIDDefinition">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-F0-9]{8}-[A-F0-9]{4}-[A-F0-9]{4}-[A-F0-9]{4}-[A-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>****** Item relationship Enums</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="enumItemRelationshipTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Indirection"/>
			<xs:enumeration value="Copy"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>****** Type GUID</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeGUID">
		<xs:attribute name="value" type="ps:typeGUIDDefinition" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Type Nomenclature</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeNomenclature">
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Item Identification tag</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeItemIdentification">
		<xs:choice>
			<xs:element name="IdPos" type="ps:typeGUID"/>
			<xs:element name="Nomenclature" type="ps:typeNomenclature"/>
		</xs:choice>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Document Identification tag</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDocumentIdentification">
		<xs:attribute name="number" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="version" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Select Document tag</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSelectDocument">
		<xs:attribute name="number" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="version" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Item Relationship Type</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeItemRelationshipType">
		<xs:attribute name="value" type="ps:enumItemRelationshipTypes" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Item Filter Type</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeItemFilter">
		<xs:sequence minOccurs="0">
			<xs:any processContents="skip"/>
			<!-- A filter xsd is needed -->
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>
		*******************************************************************************************
		*******************************************************************************************
		*******************************************************************************************
		                                        Structure
		*******************************************************************************************
		*******************************************************************************************
		*******************************************************************************************
		</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>****** New Offer</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeOffer">
		<xs:attribute name="numerationId" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="number" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="version" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="warrantyType" type="xs:positiveInteger" use="optional"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** New Order</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeOrder">
		<xs:attribute name="numerationId" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="number" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="version" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="warrantyType" type="xs:positiveInteger" use="optional"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** New SubOrder</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSubOrder">
		<xs:attribute name="version" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="subOrderNumber" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** New Delivery Note</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDeliveryNote">
		<xs:attribute name="numerationId" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="number" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** New Invoice</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeInvoice">
		<xs:attribute name="numerationId" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="number" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Add Item</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeAddItem">
		<xs:sequence>
			<xs:element name="FromItemId" type="ps:typeItemIdentification"/>
			<xs:element name="Relationship" type="ps:typeItemRelationshipType" minOccurs="0"/>
			<xs:element name="IdPos" type="ps:typeGUID" minOccurs="0"/>
			<xs:element name="IdPos" type="ps:typeGUID" minOccurs="0"/>
			<xs:element name="SortOrder" type="cmd:typeCommands" minOccurs="0"/>
			<xs:element name="Nomenclature" type="ps:typeNomenclature" minOccurs="0"/>
			<xs:element name="Instances" type="ps:typeInstances"/>
			<xs:element name="Fields" type="ps:typeFields" minOccurs="0"/>
			<xs:element name="PrefItemCommands" type="cmd:typeCommands" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Update Item</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeUpdateItem">
		<xs:sequence>
			<xs:element name="ItemId" type="ps:typeItemIdentification"/>
			<xs:element name="Instances" type="ps:typeInstances" minOccurs="0"/>
			<xs:element name="Fields" type="ps:typeFields" minOccurs="0"/>
			<xs:element name="PrefItemCommands" type="cmd:typeCommands" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Delete Item</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDeleteItem">
		<xs:sequence>
			<xs:element name="ItemId" type="ps:typeItemIdentification"/>
			<xs:element name="Instances" type="ps:typeDeleteInstances"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Split Item</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSplitItem">
		<xs:sequence>
			<xs:element name="ItemId" type="ps:typeItemIdentification"/>
			<xs:element name="IdPos" type="ps:typeGUID" minOccurs="0"/>
			<xs:element name="Nomenclature" type="ps:typeNomenclature" minOccurs="0"/>
			<xs:element name="Instances" type="ps:typeInstances"/>
			<xs:element name="PrefItemCommands" type="cmd:typeCommands" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Field</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeField">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Fields</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeFields">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Field" type="ps:typeField"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Instance</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeInstance">
		<xs:attribute name="id" type="ps:typeGUIDDefinition" use="required"/>
		<xs:attribute name="fromId" type="ps:typeGUIDDefinition" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Delete Instance</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDeleteInstance">
		<xs:attribute name="id" type="ps:typeGUIDDefinition" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Instances</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeInstances">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Instance" type="ps:typeInstance"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Delete Instances</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDeleteInstances">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Instance" type="ps:typeDeleteInstance"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Detail</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDetail">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="AddItem" type="ps:typeAddItem"/>
			<xs:element name="UpdateItem" type="ps:typeUpdateItem"/>
			<xs:element name="DeleteItem" type="ps:typeDeleteItem"/>
			<xs:element name="SplitItem" type="ps:typeSplitItem"/>
		</xs:choice>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Header</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeHeader">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Offer" type="ps:typeOffer"/>
				<xs:element name="Order" type="ps:typeOrder"/>
				<xs:element name="DeliveryNote" type="ps:typeDeliveryNote"/>
				<xs:element name="Invoice" type="ps:typeInvoice"/>
				<xs:element name="SubOrder" type="ps:typeSubOrder"/>
			</xs:choice>
			<xs:element name="FromDocument" type="ps:typeDocumentIdentification" minOccurs="0"/>
			<xs:element name="DefaultItemsRelationship" type="ps:typeItemRelationshipType" minOccurs="0"/>
			<xs:element name="DefaultFilter" type="ps:typeItemFilter" minOccurs="0"/>
			<xs:element name="Fields" type="ps:typeFields" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Update Header</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeUpdateHeader">
		<xs:sequence>
			<xs:element name="Document" type="ps:typeSelectDocument"/>
			<xs:element name="DefaultItemsRelationship" type="ps:typeItemRelationshipType" minOccurs="0"/>
			<xs:element name="DefaultFilter" type="ps:typeItemFilter" minOccurs="0"/>
			<xs:element name="Fields" type="ps:typeFields" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Update Sales Document</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeUpdateSalesDocument">
		<xs:sequence>
			<xs:element name="Header" type="ps:typeUpdateHeader"/>
			<xs:element name="Detail" type="ps:typeDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Sales Document</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSalesDocument">
		<xs:sequence>
			<xs:element name="Header" type="ps:typeHeader"/>
			<xs:element name="Detail" type="ps:typeDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Sales Documents</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSalesDocuments">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="SalesDocument" type="ps:typeSalesDocument"/>
			<xs:element name="UpdateSalesDocument" type="ps:typeUpdateSalesDocument"/>
		</xs:choice>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Root element</xs:documentation>
	</xs:annotation>
	<xs:element name="SalesDocuments" type="ps:typeSalesDocuments"/>
</xs:schema>
