assets/a2p.DataAssets/XMLSchemas/PrefDatabase.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:simpleType name="TypeDBManagerPriority">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PrefDatabase">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Schemas" type="SchemasType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Tables" type="TablesType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="AlterTables" type="AlterTablesType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Systems" type="SystemsType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="UserDefinedFunctions" type="UserDefinedFunctionsType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Conditions" type="ConditionsType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Restrictions" type="RestrictionsType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="AutomaticProcedures" type="AutomaticProceduresType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SchemasType">
		<xs:sequence>
			<xs:element name="Schema" type="SchemaType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SchemaType">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Description" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="TablesType">
		<xs:sequence>
			<xs:element name="Table" type="TableType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TableType">
		<xs:all>
			<xs:element name="Columns" type="ColumnsType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PrimaryKey" type="PrimaryKeyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PrefBackupKey" type="PrefBackupKeyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ForeignKeys" type="ForeignKeysType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Indexes" type="IndexesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PrefBackupExtraInfo" type="PrefBackupExtraInfoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Security" type="SecurityType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Triggers" type="TriggersType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attribute name="Schema" type="xs:string" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="DVType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Dataversion"/>
					<xs:enumeration value="Master"/>
					<xs:enumeration value="Normal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PDEScope" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="None"/>
					<xs:enumeration value="Data"/>
					<xs:enumeration value="DataFilter"/>
					<xs:enumeration value="Documents"/>
					<xs:enumeration value="Entities"/>
					<xs:enumeration value="Discounts"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="TranslatedView" type="xs:string" use="optional"/>
		<xs:attribute name="DBManagerPriority" type="TypeDBManagerPriority" use="optional"/>
		<xs:attribute name="Description" type="xs:string" use="required"/>
		<xs:attribute name="DVExportView" type="xs:string" use="optional"/>
		<xs:attribute name="RowIdentifier" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="AlterTablesType">
		<xs:sequence>
			<xs:element name="AlterTable" type="AlterTableType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlterTableType">
		<xs:sequence>
			<xs:element name="Columns" type="ColumnsType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ColumnsType">
		<xs:sequence>
			<xs:element name="Column" type="ColumnType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ColumnType">
		<xs:attribute name="Name" type="xs:string"/>
		<xs:attribute name="Translation" type="xs:string" use="optional"/>
		<xs:attribute name="Type">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="date"/>
					<xs:enumeration value="datetime"/>
					<xs:enumeration value="decimal"/>
					<xs:enumeration value="float"/>
					<xs:enumeration value="image"/>
					<xs:enumeration value="int"/>
					<xs:enumeration value="bigint"/>
					<xs:enumeration value="money"/>
					<xs:enumeration value="nchar"/>
					<xs:enumeration value="ntext"/>
					<xs:enumeration value="nvarchar"/>
					<xs:enumeration value="nvarchar(max)"/>
					<xs:enumeration value="real"/>
					<xs:enumeration value="smallint"/>
					<xs:enumeration value="timestamp"/>
					<xs:enumeration value="uniqueidentifier"/>
					<xs:enumeration value="varbinary"/>
					<xs:enumeration value="xml"/>
					<xs:enumeration value="bit"/>
					<xs:enumeration value="time"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AllowNulls" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DefaultValue" type="xs:string" use="optional"/>
		<xs:attribute name="Description" type="xs:string" use="optional"/>
		<xs:attribute name="Length" type="LengthOrMax" use="optional"/>
		<xs:attribute name="Precision" type="TimePrecision" use="optional"/>
		<xs:attribute name="Identity" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Mutable" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DefaultForExistingRows" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>		
	</xs:complexType>
	<xs:complexType name="ColumnReferenceType" mixed="true"/>
	<xs:complexType name="IncludedColumnReferenceType" mixed="true"/>
	<xs:complexType name="IndexFilterReferenceType" mixed="true"/>
	<xs:complexType name="ForeignKeysType">
		<xs:sequence>
			<xs:element name="ForeignKey" type="ForeignKeyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ForeignKeyType">
		<xs:sequence>
			<xs:element name="Column" type="ForeignKeyColumnType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="ReferencedSchema" type="xs:string" use="required"/>
		<xs:attribute name="ReferencedTable" type="xs:string" use="required"/>
		<xs:attribute name="Filter" type="xs:string" use="optional"/>
		<xs:attribute name="Description" type="xs:string" use="optional"/>
		<xs:attribute name="Enabled" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DeleteAction" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="noAction"/>
					<xs:enumeration value="cascade"/>
					<xs:enumeration value="setNull"/>
					<xs:enumeration value="setDefault"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="UpdateAction" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="noAction"/>
					<xs:enumeration value="cascade"/>
					<xs:enumeration value="setNull"/>
					<xs:enumeration value="setDefault"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CheckData" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ForeignKeyColumnType">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="ReferencedColumn" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="IndexesType">
		<xs:sequence>
			<xs:element name="Index" type="IndexType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndexType">
		<xs:sequence>
			<xs:element name="Column" type="ColumnReferenceType" maxOccurs="unbounded"/>
			<xs:element name="IncludedColumn" type="IncludedColumnReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Filter" type="IndexFilterReferenceType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="IsClustered" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="IsUnique" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Description" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PrimaryKeyType">
		<xs:sequence>
			<xs:element name="Column" type="ColumnReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string"/>
		<xs:attribute name="IsClustered">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Description" type="xs:string"/>
		<xs:attribute name="ForwardDeclaration" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PrefBackupKeyType">
		<xs:sequence>
			<xs:element name="Column" type="ColumnReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Name" use="required"/>
		<xs:attribute name="Description" use="required"/>
	</xs:complexType>
	<xs:complexType name="PrefBackupExtraInfoType">
		<xs:all>
			<xs:element name="MutableData" type="MutableDataType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LinkedTable" type="LinkedTableType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="MutableDataType">
		<xs:sequence>
			<xs:element name="StableKey" type="StableKeyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ColumnName" type="xs:string" use="required"/>
		<xs:attribute name="Generation" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="NextIntegerRange"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StableKeyType">
		<xs:sequence>
			<xs:element name="Column" type="ColumnReferenceType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinkedTableType">
		<xs:sequence>
			<xs:element name="LinkedKey" type="LinkedKeyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Schema" type="xs:string" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="LinkedKeyType">
		<xs:sequence>
			<xs:element name="Column" type="ForeignKeyColumnType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemsType">
		<xs:sequence>
			<xs:element name="System" type="SystemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemType">
		<xs:sequence>
			<xs:element name="Tables" type="SystemTablesType"/>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="FilterView" type="xs:string" use="required"/>
		<xs:attribute name="AliasFilterView" type="xs:string" use="required"/>
		<xs:attribute name="Restriction" type="xs:string" use="required"/>
		<xs:attribute name="TreeSelect" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="SystemTablesType">
		<xs:sequence>
			<xs:element name="Table" type="SystemTableType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemTableType">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Alias" type="xs:string" use="required"/>
		<xs:attribute name="Relationship" type="xs:string" use="optional"/>
		<xs:attribute name="RelationshipEx" type="xs:string" use="optional"/>
		<xs:attribute name="Restriction" type="xs:string" use="required"/>
		<xs:attribute name="EnableDeleteTriggers" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AutomaticProceduresType">
		<xs:sequence>
			<xs:element name="AutomaticProcedure" type="AutomaticProcedureType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AutomaticProcedureType">
		<xs:sequence>
			<xs:element name="Parameters" type="ParametersType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Comment"/>
			<xs:element name="Content" type="ContentType"/>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="MainTable" type="xs:string" use="required"/>
		<xs:attribute name="Description" type="xs:string" use="required"/>
		<xs:attribute name="DBManagerPriority" type="TypeDBManagerPriority" use="optional"/>
	</xs:complexType>
	<xs:complexType name="UserDefinedFunctionsType">
		<xs:sequence>
			<xs:element name="UserDefinedFunction" type="UserDefinedFunctionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserDefinedFunctionType" mixed="true">
		<xs:attribute name="Schema" type="xs:string" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="DBManagerPriority" type="TypeDBManagerPriority" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ConditionsType">
		<xs:sequence>
			<xs:element name="Condition" type="ConditionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConditionType" mixed="true">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Description" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="RestrictionsType">
		<xs:sequence>
			<xs:element name="Restriction" type="RestrictionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RestrictionType" mixed="true">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Description" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ParametersType">
		<xs:sequence>
			<xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParameterType">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Datatype" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="DataType">
		<xs:attribute name="Id" type="xs:short" use="required"/>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ForeignKey"/>
					<xs:enumeration value="Restriction"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Filter" type="xs:string" use="required"/>
		<xs:attribute name="ErrorDescription" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ContentType">
		<xs:sequence>
			<xs:element name="Data" type="DataType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Comment" type="xs:string"/>
	<xs:complexType name="SecurityType">
		<xs:sequence>
			<xs:element name="Roles" type="RolesType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RolesType">
		<xs:sequence>
			<xs:element name="Role" type="RoleType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoleType">
		<xs:attribute name="Name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="db_prefmasterdata"/>
					<xs:enumeration value="db_prefCAM"/>
					<xs:enumeration value="db_prefsales"/>
					<xs:enumeration value="db_prefpurchases"/>
					<xs:enumeration value="db_prefuser"/>
					<xs:enumeration value="db_prefproduction"/>
					<xs:enumeration value="db_preftariff"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TriggersType">
		<xs:sequence>
			<xs:element name="Trigger" type="TriggerType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="TriggerType">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Description" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:simpleType name="LengthOrMax">
		<xs:union memberTypes="xs:nonNegativeInteger">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="max" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="TimePrecision">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="7"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>