assets/a2p.DataAssets/XMLSchemas/Preference.Documents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pds="http://www.preference.com/XMLSchemas/2008/Preference.Documents" xmlns:cmd="http://www.preference.com/XMLSchemas/2006/PrefCAD.Command" targetNamespace="http://www.preference.com/XMLSchemas/2008/Preference.Documents" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.preference.com/XMLSchemas/2006/PrefCAD.Command" schemaLocation="\\prefnet\dfs\PrefSuite\XMLSchemas\2006\PrefCAD.Command\PrefCAD.Command.xsd"/>
	<xs:annotation>
		<xs:documentation>
		*******************************************************************************************
		*******************************************************************************************
		*******************************************************************************************
		                                        Basic types
		*******************************************************************************************
		*******************************************************************************************
		*******************************************************************************************
		</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>****** Type GUID definition</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="typeGUIDDefinition">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-F0-9]{8}-[A-F0-9]{4}-[A-F0-9]{4}-[A-F0-9]{4}-[A-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>****** Item relationship Enums</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="enumItemRelationshipTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Indirection"/>
			<xs:enumeration value="Copy"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>****** Type GUID</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeGUID">
		<xs:attribute name="value" type="pds:typeGUIDDefinition" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Type Nomenclature</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeNomenclature">
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Type Code</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeCode">
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Item Identification tag</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeItemIdentification">
		<xs:choice>
			<xs:element name="IdPos" type="pds:typeGUID"/>
			<xs:element name="Nomenclature" type="pds:typeNomenclature"/>
		</xs:choice>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Document Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDocumentIdentifier">
		<xs:attribute name="value" type="pds:typeGUIDDefinition" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Sales Document Identification tag</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSalesDocumentIdentification">
		<xs:attribute name="id" type="pds:typeGUIDDefinition" use="optional"/>
		<xs:attribute name="number" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="version" type="xs:positiveInteger" use="optional"/>
		<!-- choice this attribute -->
		<!-- or choice these two attributes -->
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Select Document tag</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSelectSalesDocument">
		<xs:attribute name="number" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="version" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Item Relationship Type</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeItemRelationshipType">
		<xs:attribute name="value" type="pds:enumItemRelationshipTypes" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Item Filter Type</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeItemFilter">
		<xs:sequence minOccurs="0">
			<xs:any processContents="skip"/>
			<!-- A filter xsd is needed -->
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>
		*******************************************************************************************
		*******************************************************************************************
		*******************************************************************************************
		                                        Structure
		*******************************************************************************************
		*******************************************************************************************
		*******************************************************************************************
		</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>****** New Sales Offer</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSalesOffer">
		<xs:attribute name="numerationId" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<!-- <xs:attribute name="number" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="version" type="xs:positiveInteger" use="optional"/> -->
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** New Sales SubOrder</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSalesSubOrder">
		<xs:attribute name="version" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="subOrderNumber" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** New Delivery Note</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSalesDeliveryNote">
		<xs:attribute name="numerationId" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="number" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** New Invoice</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSalesInvoice">
		<xs:attribute name="numerationId" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="number" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Add Item</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeAddItem">
		<xs:sequence>
			<xs:element name="IdPos" type="pds:typeGUID" minOccurs="0"/>
			<xs:element name="Nomenclature" type="pds:typeNomenclature" minOccurs="0"/>
			<xs:choice>
				<xs:element name="Code" type="pds:typeCode"/>
				<xs:sequence>
					<xs:element name="FromItemId" type="pds:typeItemIdentification"/>
					<xs:element name="Relationship" type="pds:typeItemRelationshipType" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="Instances" type="pds:typeInstances"/>
			<xs:element name="Fields" type="pds:typeFields" minOccurs="0"/>
			<xs:element name="PrefItemCommands" type="cmd:typeCommands" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Update Item</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeUpdateItem">
		<xs:sequence>
			<xs:element name="ItemId" type="pds:typeItemIdentification"/>
			<xs:element name="Instances" type="pds:typeInstances" minOccurs="0"/>
			<xs:element name="Fields" type="pds:typeFields" minOccurs="0"/>
			<xs:element name="PrefItemCommands" type="cmd:typeCommands" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Delete Item</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDeleteItem">
		<xs:sequence>
			<xs:element name="ItemId" type="pds:typeItemIdentification"/>
			<xs:element name="Instances" type="pds:typeDeleteInstances"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Split Item</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSplitItem">
		<xs:sequence>
			<xs:element name="ItemId" type="pds:typeItemIdentification"/>
			<xs:element name="IdPos" type="pds:typeGUID" minOccurs="0"/>
			<xs:element name="Nomenclature" type="pds:typeNomenclature" minOccurs="0"/>
			<xs:element name="Instances" type="pds:typeInstances"/>
			<xs:element name="PrefItemCommands" type="cmd:typeCommands" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Field</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeField">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Fields</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeFields">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Field" type="pds:typeField"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Sales Commands</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeSalesCommands">
		<xs:sequence>
			<xs:element name="AddVersion" minOccurs="0"/>
			<xs:element name="Accept" minOccurs="0"/>
			<xs:element name="CreateOrder" minOccurs="0"/>
			<xs:element name="Confirm" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Instance</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeInstance">
		<xs:attribute name="id" type="pds:typeGUIDDefinition" use="required"/>
		<xs:attribute name="fromId" type="pds:typeGUIDDefinition" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Delete Instance</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDeleteInstance">
		<xs:attribute name="id" type="pds:typeGUIDDefinition" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Instances</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeInstances">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Instance" type="pds:typeInstance"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Delete Instances</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDeleteInstances">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Instance" type="pds:typeDeleteInstance"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Sales Detail</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDetail">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="AddItem" type="pds:typeAddItem"/>
			<xs:element name="UpdateItem" type="pds:typeUpdateItem"/>
			<xs:element name="DeleteItem" type="pds:typeDeleteItem"/>
			<xs:element name="SplitItem" type="pds:typeSplitItem"/>
		</xs:choice>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Header</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeHeader">
		<xs:sequence>
			<xs:element name="DocumentId" type="pds:typeDocumentIdentifier"/>
			<xs:choice>
				<xs:element name="SalesOffer" type="pds:typeSalesOffer"/>
				<xs:element name="SalesDeliveryNote" type="pds:typeSalesDeliveryNote"/>
				<xs:element name="SalesInvoice" type="pds:typeSalesInvoice"/>
				<xs:element name="SalesSubOrder" type="pds:typeSalesSubOrder"/>
			</xs:choice>
			<xs:element name="FromDocument" type="pds:typeSalesDocumentIdentification" minOccurs="0"/>
			<xs:element name="DefaultItemsRelationship" type="pds:typeItemRelationshipType" minOccurs="0"/>
			<xs:element name="DefaultFilter" type="pds:typeItemFilter" minOccurs="0"/>
			<xs:element name="Fields" type="pds:typeFields" minOccurs="0"/>
			<xs:element name="Commands" type="pds:typeSalesCommands" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Update Header</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeUpdateHeader">
		<xs:sequence>
			<xs:choice>
				<xs:element name="SalesOffer" type="pds:typeSelectSalesDocument"/>
				<xs:element name="SalesDeliveryNote" type="pds:typeSelectSalesDocument"/>
				<xs:element name="SalesInvoice" type="pds:typeSelectSalesDocument"/>
				<xs:element name="SalesSubOrder" type="pds:typeSelectSalesDocument"/>
			</xs:choice>
			<xs:element name="DefaultItemsRelationship" type="pds:typeItemRelationshipType" minOccurs="0"/>
			<xs:element name="DefaultFilter" type="pds:typeItemFilter" minOccurs="0"/>
			<xs:element name="Fields" type="pds:typeFields" minOccurs="0"/>
			<xs:element name="Commands" type="pds:typeSalesCommands" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Update Sales Document</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeUpdateDocument">
		<xs:sequence>
			<xs:element name="Header" type="pds:typeUpdateHeader"/>
			<xs:element name="Detail" type="pds:typeDetail"/>
			<!-- Distinguiendo el tipo de detalle se podrá seguir utilizando el esquema -->
			<!-- <xs:element name="PurchasesDetail" type="pds:typePurchasesDetail"/> -->
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Sales Document</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typeDocument">
		<xs:sequence>
			<xs:element name="Header" type="pds:typeHeader"/>
			<xs:element name="Detail" type="pds:typeDetail"/>
			<!-- Distinguiendo el tipo de detalle se podrá seguir utilizando el esquema -->
			<!-- <xs:element name="PurchasesDetail" type="pds:typePurchasesDetail"/> -->
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Documents</xs:documentation>
	</xs:annotation>
	<xs:complexType name="typePrefDocuments">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Document" type="pds:typeDocument"/>
			<xs:element name="UpdateDocument" type="pds:typeUpdateDocument"/>
			<!-- <xs:element name="DeleteDocument" type="pds:typeDeleteDocument"/> -->
		</xs:choice>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>****** Root element</xs:documentation>
	</xs:annotation>
	<xs:element name="PrefDocuments" type="pds:typePrefDocuments"/>
</xs:schema>
